# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Environment Variables (PENTING!)
.env
.env.local
serviceAccountKey.json

# Docker
.docker/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db