name: Deploy PCB Backend

on:
  push:
    branches: [ "main" ] # Trigger saat push ke main

env:
  # GANTI DENGAN USERNAME GITHUB KAMU (HURUF KECIL):
  IMAGE_NAME: bagus-devlab/pcb-backend-api
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./API-PCB
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: 22
          script: |
            # Masuk folder
            cd /var/www/pcb-backend/API-PCB
            
            # Login Docker di dalam VPS (Pakai token otomatis)
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            # Tarik kodingan terbaru (untuk update docker-compose.yml)
            git pull origin main
            
            # Tarik Image Docker terbaru dari GHCR
            docker pull ghcr.io/${{ env.IMAGE_NAME }}:latest
            
            # Restart Container
            docker-compose down
            docker-compose up -d
            
            # Hapus image lama biar hemat disk
            docker image prune -f